.infoBracket {
  width: 500px;
}

.aboutMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}

.aboutImg {
  width: 300px;
}

.infoBracket {
  width: 300px;
}

img {
  width: 300px;
}
