.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}

.homeText {
  width: 300px;
}

.homeInfo img {
  width: 300px;
}
