.headline {
  font-size: 72px;
  font-weight: bolder;
  color: #6a91be;
  text-align: center;
}

.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}

.homeImg {
  width: 300px;
}

.homeText {
  width: 300px;
}

img {
  width: 300px;
}
