.navbar {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
  background-color: #363636;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 32px;
  margin: 6px;
}
.workTitle {
  font-size: 16px;
}
.imgDiv {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.imgDiv img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.navbarButtons {
  width: 20%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
}

.spanButton {
  font-size: 24px;
  padding: 6px;
  color: white;
  transition: 0.35s;
  margin-top: 2px;
}
.spanButton:hover {
  cursor: pointer;
  background-color: white;
  color: #363636;
}

.childButtons {
  display: flex;
  flex-direction: column;
}
.childButton {
  font-size: 18px;
}

.socials {
}

.socials img {
  height: 36px;
  width: 36px;
  margin: 12px;
}

.contact {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  margin: 6px;
}

.expandButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  align-self: center;
  text-align: center;
}
.expandButton:hover {
  cursor: pointer;
}
.contactInfo {
  overflow: hidden;
  max-height: 200px;

  transition-property: all;
  transition-duration: 1s;
}
.contactInfo img {
  height: 28px;
  width: 28px;
  margin-right: 2px;
}
.contactInfo a {
  color: white;
  text-decoration: none;
}
.contactDown {
  max-height: 0px;
}

.contactInfoItem {
  display: table;
}
.contactInfoItem span,
.contactInfoItem a {
  display: table-cell;
  vertical-align: middle;
}
