.navbar {
  position: fixed;
  height: 99%;
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: space-between;
  background-color: #292929;
  margin: 6px;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 32px;
  margin: 6px;
}
.workTitle {
  font-size: 16px;
}
.imgDiv {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.imgDiv img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.navbarButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60%;
}

.spanButton {
  font-size: 24px;
  padding: 6px;
  color: white;
  transition: 0.25s;
  margin-top: 2px;
}
.spanButton:hover {
  cursor: pointer;
  background-color: white;
  color: #292929;
}

.childButtons {
  display: flex;
  flex-direction: column;
}
.childButton {
  font-size: 18px;
}

.socials {
}

.socials img {
  height: 36px;
  width: 36px;
  margin: 12px;
}
